@font-face {
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
    font-family: Cursed Timer ULiL;
}

body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;

}

h3 {
    color: #EEEEEE;
    font-family: 'Verdana';
    font-size: 40px;
    margin-bottom: 0px;
    text-shadow: 1px 1px #050505;
}

h2 {
    background: #080001;
    border-radius: 5px;
    font-size: 90px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL';
    line-height: 127px;
    margin-bottom: 0px;
    margin-top: 26px;
    padding: 20px;
    border: 5px solid #080001;
}
/*
#winning {
    border-bottom: 5px solid white;
}
*/

.add-points {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #1B244A;
    width: 155px;
    margin: 35px auto 69px auto ;
}

.btn-adds {
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    color: #9AABD8;
    background: #1B244A;
    padding: 10px;
}

#new-game {
    margin-top: auto;
    margin-bottom: auto;

}

.btn-new-game {
    background: #9AABD8;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 15px;
    color: #1B244A;
    font-family: 'Cursed Timer ULiL';
    border-radius: 5px;
}
